@import "../../../../scss/index.scss";

.whatsapp-form{
    overflow: hidden;
    height: 900px;
    background-color: white;
    padding-top: 5%;
    display: block;

    @media (min-width: 2000px) {
        height: 1020px;
    }

    @media (max-width: 890px) {
        height: 1650px;
    }

    @media (max-width: 790px) {
        height: 1750px;
    }

    @media(max-width: 450px) {
        height: 1400px;
    }

    @media(max-width: 375px) {
        height: 1350px;
    }

    &__description{
        padding-left: 100px;
        padding-right: 50px;
        font-family: $titles-font;

        @media (max-width: 790px) {
            padding-left: 10%;
            padding-right: 10%;
        }

        h2{
            text-align: center;
            color: $negro-aparente;
            font-weight: bold;

            span{
                color: $azul-aparente;
            }
        }

        p{
            font-weight: bold;
            font-size: 18px;
            span{
                color: $azul-aparente;
            }

        }

        h3{
            font-weight: bold;
            margin-bottom: 3%;
            
            span{
                color: $azul-aparente;
            }

            .email{
                margin-right: 2%;
            }

            .phone{
                margin-right: 2%;
            }

            .social{
                margin-right: 2%;
            }
        }

        .ant-divider{
            margin-bottom: 30px;
            margin-top: 30px;
        }

        .social-bar{
            text-align: center;
            margin-top: 8%;

            

            a{
                margin-left: 4%;
                margin-right: 4%;

                @media (max-width: 375px){
                    margin-left: 8%;
                    margin-right: 8%;
                }

                .instagram {
                    color: $instagram-morado;
                    @media (max-width: 375px){
                        margin-bottom: 8%;
                    }
                }

                .facebook {
                    color: $facebook;
                    @media (max-width: 375px){
                        margin-bottom: 8%;
                    }
                }

                .pinterest {
                    color: $pinterest;
                    @media (max-width: 375px){
                        margin-bottom: 8%;
                    }
                }

                .youtube {
                    color: $youtube;
                }

                .linkedin {
                    color: $linkedin;
                }
            }
        }

        .hashtag{
            margin-top: 10%;
            text-align: center;
            color: $azul-aparente;

        }
    }

    &__form{

        @media(max-width: 890px) and (min-width: 790px) {
            margin-left: 190px;   
        }

        p{
            position: absolute;
            margin-left: 95px;
            margin-top: 12px;
            font-size: 12px;
            font-weight: bold;

            @media (max-width: 790px) {
                margin-left: 120px;
                margin-top: 23px;
                font-size: 19px;
            }

            @media(max-width: 450px) {
                margin-left: 45px;
                margin-top: 12px;
                font-size: 13px;
            }
        }

        input{
            width: 241px;
            height: 23px;
            position: absolute;
            margin-left: 118px;
            margin-top: 376px;
            border-radius: 10px;

            @media (max-width: 790px) {
                margin-left: 150px;
                margin-top: 723px;
                width: 455px;
                height: 43px;
                border-radius: 20px;
            }

            @media (max-width:650px){
                margin-left: 90px;
                margin-top: 723px;
            }

            @media(max-width: 450px) {
                margin-left: 58px;
                margin-top: 474px;
                width: 306px;
                height: 30px;
                border-radius: 20px;
            }

            @media(max-width: 375px) {
                margin-left: 53px;
                margin-top: 413px;
                width: 265px;
                height: 26px;
                border-radius: 20px;
            }

            @media(max-width: 320px) {
                margin-left: 45px;
                margin-top: 350px;
                width: 228px;
                height: 23px;
                border-radius: 20px;
            }

 
        }
        img{
            margin-left: 80px;
            position: absolute;
            width: 320px;
            height: auto;
            border: 3px solid $negro-aparente;
            border-radius: 20px;

            @media (max-width: 790px) {
                width: 600px;
                border-radius: 12px;
            }

            @media (max-width: 650px){
                margin-left: 20px;
            }

            @media(max-width: 450px) {
                margin-left: 12px;
                width: 400px;
            }

            @media(max-width: 375px) {
                margin-left: 12px;
                width: 350px;
            }

            @media(max-width: 320px){
                margin-left: 10px;
                width: 300px;
            }
        }

        button{
            position: absolute;
            margin-top: 317.5px;
            margin-left: 366px;

            @media (max-width: 790px) {
                margin-left: 617px;
                margin-top: 661px;
                border-radius: 20px;
            }

            @media (max-width: 650px){
                margin-left: 555px;
                margin-top: 661px;
            }

            @media(max-width: 450px) {
                margin-left: 371px;
                margin-top: 417px;
                border-radius: 20px;
            }

            @media(max-width: 375px) {
                margin-left: 323px;
                margin-top: 353px;
                border-radius: 20px;
            }

            @media(max-width: 320px) {
                margin-left: 278px;
                margin-top: 291px;
                border-radius: 20px;
            }

            .anticon{
                transform: translate(1.5px, -2.5px);

                @media (max-width: 790px) {
                    font-size: 30px;
                    transform: translate(3.5px, -2.5px);
                }

                @media(max-width: 450px) {
                    font-size: 16px;
                    transform: translate(2px, -2.5px);
                }
            }
        }

        .cta{
            margin-left: 128px;
            margin-bottom: 4%;
            font-family: $titles-font;
            color: $negro-aparente;
            font-weight: bold;

            @media (max-width: 790px) {
                margin-left: 260px;
            }

            @media (max-width: 650px){
                margin-left: 210px;
            }

            @media(max-width: 450px) {
                margin-left: 100px;
            }

            @media(max-width: 320px) {
                margin-left: 55px;
            }

            .whatsapp{
                color: $whatsapp;
            }

            span{
                color: $azul-aparente;
            }
        }
    }

    .ant-btn{
        @media (max-width: 790px){
            border-radius: 50%;
            width: 48px;
            height: 48px;
        }

        @media(max-width: 450px) {
            border-radius: 50%;
            width: 29px;
            height: 29px;
        }

        @media(max-width: 320px) {
            width: 24px;
            height: 24px;
        }
    }
}

