@import "../../../../scss/index.scss";

.my-info{
    text-align: center;
    font-family: $titles-font;

    img {
        width: 200px;
        margin-top: -7px;
        margin-bottom: 17px;
    }

    h5{
        margin-bottom: 27px;
        color: white;
    }

    .social-links{
        justify-content: flex-start;
    }
}