@import "../../../../scss/index.scss";

.services {
    font-family: $titles-font;
    background-color: white;
    
    @media (max-width: 950px){
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .services-title{
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 8px;
        padding-top: 5%;
    
        span{
            color: $azul-aparente;
        }

        @media (max-width: 450px){
            font-size: 28px;
            padding-top: 35px;
        }

        @media (max-width: 450px){
            font-size: 24px;
        }

        @media (max-width: 450px){
            font-size: 24px;
        }
    }
    
    .services-list{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;

        ul{
            list-style-type: none;

            li{
                margin-bottom: 8%;

                @media (max-width: 450px){
                    margin-left: -40px;
                    padding-right: 5%;
                    padding-left: 5%;
                }
            }
        }
    }
}