@import "../../../../scss/index.scss";

.services {
    font-family: $titles-font;
    background-color: white;

    .services-title{
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 8px;
        padding-top: 5%;
    
        span{
            color: $azul-aparente;
        }
    }
    
    .services-list{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;

        ul{
            list-style-type: none;

            li{
                margin-bottom: 8%;
            }
        }
    }
}