@import "../../../../scss/index.scss";

.welcome-text{
    font-family: $titles-font;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;

    @media (max-width: 450px){
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%; 
        margin-bottom: 0;
     }

    sup{
        font-size: 10px;
    }

    span{
        border-bottom: 2px solid $azul-aparente;
    }
}