@import "../../../scss/index.scss";

.contact-banner-home{
    background-color: white;

    .contact-banner-title{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 20px;
        border-top: 3px solid $azul-aparente;
    
        h2{
            font-family: $titles-font;
            font-weight: bold;
            text-transform: uppercase;
    
            @media (max-width: 950px){
                font-size: 25px;
            }

            @media (max-width:750px){
                padding-left: 2%;
                padding-right: 2%;
            }
    
            @media (max-width: 450px){
                font-size: 15px;
            }
    
            @media (max-width: 320px){
                font-size: 12px;
            }
        }
    }
    
    .contact-banner-whatsapp{
        text-align: center;
    
        input{
            border-radius: 15px;
    
            @media (max-width: 750px){
                width: 80%;
                padding-bottom: 1px;
            }
        }
    
        .whatsapp-btn{
            text-align: left;
            padding-left: 10px;
    
            @media (max-width: 750px){
                text-align: center;
                padding-left: 0;
            }
        }
    
        button{
    
            @media (max-width: 750px){
                margin-left: auto;
                margin-right: auto;
                margin-top: -10px;
            }
        }
    
        .whatsapp{
            font-size: 18px;
            transform: translate(0.5px,1.5px);
    
            @media (max-width: 750px){
                font-size: 20px;
            }

            @media (max-width: 375px){
                transform: translate(-1px, -0.5px);
            }
        }
    
        .ant-btn-primary {
            background-color: $whatsapp;
            border: none;
        
            &:hover{
                background-color: $whatsapp-hover;
            }
        }
    
        .ant-btn{
            @media(max-width: 750px) {
                font-size: 20px;
            }
        }

        .ant-btn-round{

            @media(max-width: 750px){
                padding-top: 0;
            }
        }
    
        .ant-divider{
            @media (max-width: 750px) {
                margin-top: -1px;
            }
        }
    }
    
    .contact-banner-medium{
        text-align: center;
        background-color: white;
        padding-bottom: 2%;
    
        h3{
            font-family: $titles-font;
            font-weight: bold;
            margin-bottom: 3%;
            
            span{
                color: $azul-aparente;
            }
    
            .email{
                margin-right: 2%;
            }
    
            .phone{
                margin-right: 2%;
            }
        }
    
        a{
            font-family: $titles-font;
        }
    
        .top-column{
            margin-bottom: 30px;
        }
    }
    
    .contact-banner-button{
        font-family: $titles-font;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 50px;
        
        .ant-btn{
            width: 100%;
    
            @media (max-width: 750px){
                width: 80%;
            }
        }
    }
}

