@import "../../../../scss/index.scss";

.contact-banner{
    height: 450px;
    font-family: $titles-font;
    background-color: white;
    overflow: hidden;
    position: relative;
    background-image: url("../../../../assets/img/png/APARENTE-contact-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 

    @media (max-width: 1024px){
        background-image: url("../../../../assets/img/png/APARENTE-contact-banner-md.png");
        background-size: cover;
        background-position: 25% 75%;
        height: 350px; 
    }

    @media (max-width: 790px){
        background-image: url("../../../../assets/img/png/APARENTE-contact-banner-md.png");
        background-size: contain;
        height: 350px; 
    }

    @media (max-width: 450px) {
        background-image: url("../../../../assets/img/png/APARENTE-contact-banner-sm.png");
        background-size: cover;
        background-position: 25% 75%;
        height: 150px; 
    }
}