@import "../../../../scss/index.scss";

.process-title{
    font-family: $titles-font;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding-top: 5%;
    padding-bottom: 2%;
        

    h2{
        font-weight: bold;
        color: white;
        margin-bottom: 5%;

        @media (max-width: 375px){
            font-size: 28px;
            letter-spacing: 4px;
        }
    }
    
    span{
        color: $azul-aparente;
    }
}

.process-know{
    text-align: center;

    img{
        width: 200px;

        @media (max-width: 1024px){
            width: 150px;
        }
    }

    .know-description{
        transform: translateY(20%);

        @media (max-width: 1024px){
            transform: translateY(15%);
            padding-left: 2%;
        }

        h4{
            font-family: $titles-font;
            font-weight: bold;
            letter-spacing: 3px;
            text-align: left;
            color: white; 

            @media (max-width: 920px){
               text-align: center; 
            }
    
           span{
               color: $azul-aparente;
           }
        }
    
        p{
            font-family: $body-font;
            font-size: 22px;
            text-align: left;
            color: white;

            @media (max-width: 1024px){
                font-size: 20px
            }

            @media (max-width: 920px){
                text-align: center; 
                padding-right: 8%;
                padding-left: 8%;
                margin-bottom: 5%;
             }

             @media (max-width: 450px){
                 margin-bottom: 50px;
             }
        }
    }
}

.arrow-1{
    text-align: center;
    margin-top: 2%;

    img{
        width: 50px;

        @media (max-width: 1024px){
            width: 30px;
        }
    }
}

.process-plan{
    text-align: center;
    margin-top: 2%;

    img{
        width: 200px;

        @media (max-width: 1024px){
            width: 150px;
        }
    }

    .plan-description{
        
        transform: translateY(25%);

        @media (max-width: 1024px){
            transform: translateY(15%);
            padding-left: 2%;
        }

        h4{
            font-family: $titles-font;
            font-weight: bold;
            letter-spacing: 3px;
            text-align: left;
            color: white; 
    
           span{
               color: $azul-aparente;
           }

           @media (max-width: 920px){
            text-align: center; 
         }
        }
    
        p{
            font-family: $body-font;
            font-size: 22px;
            text-align: left;
            color: white;

            @media (max-width: 1024px){
                font-size: 20px
            }

            @media (max-width: 920px){
                text-align: center; 
                padding-right: 8%;
                padding-left: 8%;
                margin-bottom: 5%;
             }

             @media (max-width: 450px){
                margin-bottom: 50px;
            }
        }
    }
}

.arrow-2{
    margin-top: -30px;

    @media (max-width: 1024px){
        margin-top: -10px;
    }

    .arrow-left{
        text-align: right;
        img {
            padding-right: 20px;
            width: 150px;

            @media (max-width: 1024px){
                width: 120px;
            }
        }
    }

    .arrow-right{

        img {
            padding-left: 20px;
            width: 150px;
            height: 100%;

            @media (max-width: 1024px){
                width: 120px;
            }
        }
    }
}

.process-launch-analyze{
    margin-top: 2%;

    .analyze{
        text-align: right;

        @media (max-width: 920px){
            text-align: center; 
         }

        img{
            width: 200px;

            @media (max-width: 1024px){
                width: 150px;
            }
        }
    }

    .analyze-description{
        transform: translateY(10%);
        
        h4{
            font-family: $titles-font;
            font-weight: bold;
            text-align: right;
            letter-spacing: 3px;
            color: white; 

            @media (max-width: 920px){
                text-align: center; 
             }

           span{
               color: $azul-aparente;
           }
        }

        p{
            font-family: $body-font;
            font-size: 22px;
            text-align: end;
            color: white;

            @media (max-width: 1024px){
                font-size: 20px;
                line-height: 25px;
            }

            @media (max-width: 920px){
                text-align: center; 
                padding-right: 8%;
                padding-left: 8%;
                margin-bottom: 5%;
             }

             @media (max-width: 450px){
                margin-bottom: 50px;
            }
        }
    }

    .launch{
        @media (max-width: 920px){
            text-align: center; 
         }

        img{
            width: 200px;

            @media (max-width: 1024px){
                width: 150px;
            }
        }
    }

    .launch-description{
        transform: translateY(10%);

        h4{
            font-family: $titles-font;
            font-weight: bold;
            letter-spacing: 3px;
            color: white; 

            @media (max-width: 920px){
                text-align: center; 
             }

           span{
               color: $azul-aparente;
           }
        }

        p{
            font-family: $body-font;
            font-size: 22px;
            color: white;

            @media (max-width: 1024px){
                font-size: 20px;
                line-height: 25px;
            }

            @media (max-width: 920px){
                text-align: center; 
                padding-right: 8%;
                padding-left: 8%;
                margin-bottom: 5%;
             }

            @media (max-width: 450px){
                margin-bottom: 50px;
            }
        }
    }
}

.arrow-3{
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    
    img{
        width: 240px;

        @media (max-width: 1024px){
            width: 190px;
        }
    }
}