@import "../../../../scss/index.scss";

.search-container{
    margin-top: 5%;
    align-items: center;
    text-align: right;
}

.search{

    &-input{
        &-hidden{
            width: 0;
            border: 0;
            padding: 0;
            background-color: $negro-aparente;
        }
        &-display{
            border-radius: 100px;
            width: 50%;
            height: 40px;
            margin-right: 10px;
            transition: width 0.1s ease-in;
        }
    }
    
    &-button{
        .anticon{
            transform: translateY(-15%);
        }
    }
}

.ant-btn-icon-only{
    position: relative;
    margin-right: 29%;
    width: 40px;
    height: 40px;
    transform: translateY(8%);

    @media (max-width: 450px){
        margin-right: 10%;
    }
}
.ant-list{
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    @media (max-width: 450px){
        margin-bottom: 5%;
    }
}

.ant-list-item{
    text-transform: capitalize;
}

.ant-divider-inner-text{
    color: white;
}

.not-found{
    background-color: rgb(245,245,245);
    margin-left: 5%;
    margin-right:5%;
    border-radius: 5px;
    
    p{
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        line-height: 2;
    }

    ul{
        list-style: none;
        margin-top: 1%;
    }
    .facebook{
        margin-right: 1%;
        color: rgb(52,152,247)
    }

    .instagram{
        margin-right: 1%;
        color: rgb(157,65,174);
    }

    .whatsapp{
        margin-right: 1%;
        color: rgb(98,205,86);
    }

    .email{
        margin-right: 1%;
        color: rgb(0,89,202);
    }
}