@import "../../../../scss/index.scss";

.navigation-footer{
    text-align: center;

    h3{
        color: $font-light;
        font-weight: bold;

        @media (max-width: 950px){
            margin-top: 50px;
        }

        @media (max-width: 860px){
            margin-top: 20px;
        }

        @media (max-width: 375px){
            margin-top: 25px;
        }
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            padding: 5px 0px;

            a{
                color: $primary-color-dark;
                &:hover {
                    color: $primary-color;
                }

                .anticon {
                    padding-right: 10px;
                    transform: translateY(-3px);
                }
            }
        }
    }
}

