@import "../../../scss/index.scss";

.admin-sider{
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 65px;

    .ant-menu{
        .anticon{
            transform: translateY(-10%);
        }
    //    .ant-menu-item-selected{
    //        background-color: $azul-aparente;
    //    }
    }
}