@import "../../../scss/index.scss";

.social-bar {
  text-align: center;
  margin-top: 8%;

    a{
      margin-left: 4%;
      margin-right: 4%;

      @media (max-width: 375px){
        margin-left: 8%;
        margin-right: 8%;
                }

    .instagram {
      color: $instagram-morado;
      @media (max-width: 375px){
        margin-bottom: 8%;
      }
    }

    .facebook {
      color: $facebook;
      @media (max-width: 375px){
          margin-bottom: 8%;
      }
    }

    .pinterest {
        color: $pinterest;
        @media (max-width: 375px){
            margin-bottom: 8%;
        }
    }

    .youtube {
        color: $youtube;
    }

    .linkedin {
        color: $linkedin;
    }
  }
}