@import "../../../../scss/index.scss";

.blog-main-banner{
    height: 350px;
    text-align: center;
    font-family: $main-title-font;
    overflow: hidden;
    align-items: bottom;
    //padding-top: 2%;
    &__machine{
        .maquina{
            width: 100%;
        }
    }
    

    h1{
        color: white;
        font-size: 90px;
        font-weight: bold;
        letter-spacing: 20px;
        text-transform: uppercase;

        span{
            color: $azul-aparente;
        }
    }

    &__paper{
        .papel{
            width: 120%;
            z-index: -1;
            transform: rotate(20deg);

        }
    }
}