@import "../../../../scss/index.scss";

.posts-list-web{
    margin: 50px 0;
    text-align: center;
    background-color: #fff;

    .container-posts{
        width: 100%;
        

        .post-card{
            width: 45%;
            display: inline-block;
            margin: 2.5% 1% 2.5% 0;
        }
    }
}