@import "../../../../scss/index.scss";

.side-menu{
    font-family: $titles-font;
    font-weight: bold;
    background-color: rgb(245,245,245);
    margin: 5px 0;
    display: inline-table;
    border: 2px solid $azul-aparente;
    text-align: center;

    @media(max-width: 450px){
        margin: 0 auto 30px;
    }
    
    h2{
         padding-top: 10%;
         span{
             color: $azul-aparente;
         }
    }

    .social-container{
        width: 90%;
        margin: 8% auto 4%;
        padding-left: 5%;
        
        a{
            display: inline-block;
            margin-right: 8%;
            

            button{

                .instagram{
                    color: $instagram-morado;
                }
                .facebook{
                    color: $facebook;
                }
                .pinterest{
                    color: $pinterest;
                }
                .youtube{
                    color: $youtube;
                }
            }
        }
    }

    .categories-container{
        img{
            width: 70%;
            height: auto;
            margin-top: 5%;
        }

        h5{
            font-family: $body-font;
            margin-top: 3%;
        }
    }
}
    
