@import "../../../../scss/index.scss";

.side-menu{
    background-color: $azul-aparente;
    margin: 50px 0;
    display: inline-table;
    
    &__content{
        width: 90%;
        background-color: rgb(245,245,245);
        margin: 5% auto;

        h3{
            padding-top: 10%;
        }
    }
    

    
}