@import "../../../../scss/index.scss";

.side-menu{
    background-color: rgb(245,245,245);
    margin: 5px 0;
    display: inline-table;
    border: 4px solid $azul-aparente;
    text-align: center;

    @media(max-width: 450px){
        margin: 30px auto;
    }
    
    h3{
         padding-top: 10%;
    }
}
    
