@import "../../../scss/index.scss";

.main-banner {
    font-family: $main-title-font;
    text-align: center;
    position: relative;
    height: 500px;
    background-color: $background-dark-web;
    background-position: center center;

    .ant-row{
        display: flex;
        align-items: center;
        height: 100%;

        h1 {
            color: #fff;
            font-size: 70px;
            font-weight: bold;
            line-height: 2;
            letter-spacing: 15px;
            word-spacing: 25px;

            .entes{
                color: $background-dark-web;
                text-shadow: -2px 2px 0 gray, 2px 2px 0 gray, 2px -2px 0 gray, -2px -2px 0 gray;
            }

            .guion-bajo{
                color: rgb(0, 89, 202);
            }
        }
    }
}